<div class="blog-right" style="margin-top: 1.5rem; margin-left: 2rem;">
    <div *ngFor="let b of blogs">
        <div [class.d-none]="b.id==selectedId?false:true">
            <form #blogForm="ngForm">
                <h2 class="text-center mb-1">{{b.name}}</h2>
                <span id="author" class="mt-0 fw-bold">Tác giả: {{b.author}}</span> <br>
                <p>{{b.content}}</p>
                <h4>{{b.title1}}</h4>
                <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath}}">
                <p>{{b.content1}}</p>
                <h4>{{b.title2}}</h4>
                <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath1}}">
                <p>{{b.content2}}</p>
                <h4>{{b.title3}}</h4>
                <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath2}}">
                <p>{{b.content3}}</p>

            </form>

            <!-- <button class="btn btn-secondary mb-2" style="float:right;" (click)="edit(b)">Cập Nhật</button> -->
            <div class="container-fluid btn-right">

                <!-- Button trigger modal -->
                <button type="button" class="btn_add" data-bs-toggle="modal" data-bs-target="#exampleModal_edit" (click)="edit(b)">Cập Nhật</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel_edit">Cập nhật blog</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body container-title">
                                <div class="title">
                                    <input type="text" id="name" class="" placeholder="Nhập tên bài viết" [(ngModel)]="blog['name']" name="name">
                                    <input type="text" id="id" class="" placeholder="Nhập ID bài viết" [(ngModel)]="blog['id']" name="id">
                                    <input type="text" id="author" class="" placeholder="Nhập tên tác giả" [(ngModel)]="blog['author']" name="author">
                                </div>
                                <form #blogForm="ngForm" (ngSubmit)="submitData(blogForm)">
                                    <!-- Tên bài viết -->

                                    <!-- Nội dung 1 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title1" class="" placeholder="Nhập tiêu đề 1" [(ngModel)]="blog['title1']" name="title1">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content1" type="text" class="" placeholder="Nhập nội dung 1" [(ngModel)]="blog['content1']" name="content1"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" class="form" [(ngModel)]="blog['thumbPath']" name="thumbPath" (change)="onChange($event)">
                                        </div>
                                    </div>

                                    <!-- Nội dung 2 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title2" class="" placeholder="Nhập tiêu đề 2" [(ngModel)]="blog['title2']" name="title2">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content2" type="text" class="" placeholder="Nhập nội dung 2" [(ngModel)]="blog['content2']" name="content2"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" [(ngModel)]="blog['thumbPath1']" name="thumbPath1" (change)="onChange($event)">
                                        </div>
                                    </div>

                                    <!-- Nội dung 3 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title3" class="" placeholder="Nhập tiêu đề 3" [(ngModel)]="blog['title3']" name="title3">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content3" type="text" class="" placeholder="Nhập nội dung 3" [(ngModel)]="blog['content3']" name="content3"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" [(ngModel)]="blog['thumbPath2']" name="thumbPath2" (change)="onChange($event)">
                                        </div>

                                    </div>

                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-secondary mb-2" style="float:right;" (click)="delete(b._id, blogForm)">Xóa</button>
            <button class="btn btn-secondary mb-2" style="float:right;" (click)="goBack()">Quay lại</button>
        </div>
    </div>
</div>
