<div class="blog-right" style="margin-top: 1.5rem; margin-left: 2rem;">
    <div *ngFor="let b of blogs">
        <div [class.d-none]="b.id==selectedId?false:true">
            <h2 class="text-center mb-1">{{b.name}}</h2>
            <span id="author" class="mt-0 fw-bold">Tác giả: {{b.author}}</span> <br>
            <p>{{b.content}}</p>
            <h4>{{b.title1}}</h4>
            <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath}}">
            <p>{{b.content1}}</p>
            <h4>{{b.title2}}</h4>
            <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath1}}">
            <p>{{b.content2}}</p>
            <h4>{{b.title3}}</h4>
            <img class="kichthuoc" src="http://localhost:3000/{{b.thumbPath2}}">
            <p>{{b.content3}}</p>


            <button class="btn btn-secondary mb-2" style="float:right;" (click)="goBack()">Quay lại</button>
            <button class="btn btn-secondary mb-2" style="float:right;" (click)="edit(b)">Cập Nhật</button>
            <button class="btn btn-secondary mb-2" style="float:right;" (click)="delete(b.id)">Xóa</button>
        </div>
    </div>
</div>