<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Thông tin website</h5>

        </div>
    </div>
    <!-- ROW1 -->
    <div class="row">
        <div class="col-12 dropdown-list">
            <h6>Chỉnh sửa trực tiếp</h6>
            <div class="dropdown-list">
                <select>
                <option>Dropdow List</option>
                <option>Home page</option>
                <option>Tìm gia sư</option>
                <option>Điều khoản sử dụng</option>
                <option>Blog</option>
                <option>Giới thiệu</option>
                </select>
            </div>
        </div>
    </div>
    <!-- row2 -->
    <div class="row list-1">
        <div class="col-12">
            <div class="tool">
                <div class="">
                    <span><i class="fas fa-undo"></i></span> &nbsp;
                    <span><i class="fas fa-redo"></i></span>
                </div>

                <div class="">
                    <button class="btn-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#sans" aria-expanded="false"> Sans Serif <i class="fas fa-caret-down"></i> </button>
                    <ul class="list-group collapse" id="sans">
                        <li class="list-group-item">
                            <span routerLink="" routerLinkActive="active"></span>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <button class="btn-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-expanded="false"> tT <i class="fas fa-caret-down"></i> </button>
                    <ul class="list-group collapse" id="">
                        <li class="list-group-item">
                            <span routerLink="" routerLinkActive="active"> </span>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <button class="btn-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-expanded="false"> <i class="fas fa-bold"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-italic"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-underline"></i> &nbsp; <i class="fas fa-caret-down"></i> </button>
                    <ul class="list-group collapse" id="">
                        <li class="list-group-item">
                            <span routerLink="" routerLinkActive="active"> </span>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <i class="fas fa-align-left"></i> &nbsp;<i class="fas fa-caret-down"></i>
                </div>
                <div class="">
                    <i class="fas fa-list-ol"></i> &nbsp;<i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="content"></div>
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button class="btn-1">Xem trước</button>
            <button class="btn-1">Lưu</button>
            <button class="btn-1">Hủy bỏ</button>
        </div>
    </div>
    <div class="row">
        <div class="dropdown-list">
            <h6 style="margin-top:1rem">Tệp đính kèm</h6>
            <select>
              <option>Dropdow List</option>
              <option>Home page</option>
              <option>Tìm gia sư</option>
              <option>Điều khoản sử dụng</option>
              <option>Blog</option>
              <option>Giới thiệu</option>
              </select>
        </div>
        <div class="list-2">
            <h6>Hoặc</h6>
            <form class="" caction="">
                <div class="btn-file">
                    <input type="file" id="" name="filename">
                </div>
                <div class="btn-file">
                    <input type="file" id="" name="filename">
                </div>
            </form>
            <div style="display: flex; justify-content: flex-end">
                <button class="btn-1">Xem trước</button>
                <button class="btn-1">Lưu</button>
                <button class="btn-1">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>
