<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Quản lý lớp học</h5>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <form style="line-height: 70px;">
                <select name="transaction" id="transaction">
                  <option hidden >Loại giao dịch</option>
                  <option value="send">Gửi tiền</option>
                  <option value="recieve">Nhận tiền</option>
                </select>
            </form>
        </div>
        <div class="col-6 label-container" style="float: right;">
            <label class="trans-overview">
            <p>15M</p> <span class="label-2">Lợi nhuận</span>
          </label>
            <label class="trans-overview">
              <p>15M</p> <span class="label-2">Tiền gửi</span>
          </label> 
          <label class="trans-overview">
            <p>15M </p> <span class="label-2">Tiền nhận</span>
          </label>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="text-center">
                <tr >
                    <th scope="col">TransID</th>
                    <th scope="col">Describe</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">TK gửi</th>
                    <th scope="col">TK nhận</th>
                    <th scope="col">Nội dung GD </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of transactions">
                    <td>{{t.TransInfo.TransId}}</td>
                    <td class="text-center">{{t.TransInfo.Method}}</td>
                    <td class="text-center">{{t.TransInfo.Fee}}</td>
                    <td>{{t.SendAcc.Bank}} - {{t.SendAcc.STK}}</td>
                    <td>{{t.ReceivableAcc.Bank}} -{{t.ReceivableAcc.STK}}</td>
                    <td>{{t.TransInfo.Content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
