<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Quản lý lớp học</h5>
            <div class="dropdown">
                <button class="dropdown-toggle btn_dropdown" type="button" data-bs-target="#LTK" data-bs-toggle="dropdown" aria-expanded="false">
Trạng thái
</button>
                <ul class="dropdown-menu" id="LTK">
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Gia sư</span></li>
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Học viên</span></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="label-container">
                <label>
                <p>15M</p> <span class="label-2">Lợi nhuận</span>
              </label>
                <label>
                  <p>15M</p> <span class="label-2">Tiền gửi</span>
              </label> <label>
                <p>15M </p> <span class="label-2">Tiền nhận</span>
              </label>
            </div>
        </div>


    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TransID</th>
                    <th scope="col">Describe</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">TK gửi</th>
                    <th scope="col">TK nhận</th>
                    <th scope="col">Nội dung GD </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of transactions">
                    <td>{{t.TransInfo.TransId}}</td>
                    <td>{{t.TransInfo.Method}}</td>
                    <td>{{t.TransInfo.Fee}}</td>
                    <td>{{t.SendAcc.Bank}} - {{t.SendAcc.STK}}</td>
                    <td>{{t.ReceivableAcc.Bank}} -{{t.ReceivableAcc.STK}}</td>
                    <td>{{t.TransInfo.Content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>