<div class="row">
    <div class="header">
        <div class="header_item">
            <img class="img-logo" id="logo" src="#" alt="Logo" />
            <span>ATHENE</span>
        </div>
    </div>
</div>
<div class="row">
    <h4>WORK HARD, AMAZING THINGS WILL HAPPEN! </h4>

    <form class="form_container">
        <div class="form__control">
            <label for="" class="form__label">Admin Name:</label>
            <input type="text" class="form__input" id="">
        </div>
        <div class="form__control">
            <label for="" class="form__label" placeholder="">Password:</label>
            <input type="password" class="form__input" id="">
            <span class="hide_password"><i class="bi bi-eye-slash"></i></span>
        </div>

        <div class="form__control-2">
            <button type="submit" class="button_forget">Quên mật khẩu</button>
        </div>

        <div class="form__control">
            <button type="submit" class="btn button_submit" routerLink="/home" routerLinkActive="active">Get started -> </button>
        </div>
    </form>
</div>
