<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Feedback</h5>
            <button type="submit" class="btn">Feedback</button>
            <button type="submit" class="btn">Đã lưu</button>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="container-fluid btn-right">
                <button type="button" class="btn">Sắp xếp theo</button>
                <ul class="dropdown-menu" id="LTK">
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Ngày và giờ</span></li>
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Mới nhất</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row container-fluid">

        <!-- Hộp feedback -->
        <div class="">
            <div class="container--user">
                <div>
                    <p class="p--1">Tên người dùng</p>
                    <p class="p--2">01/01/2001</p>
                </div>
                <button class="btn">Lưu trữ</button>
                <div class="feedback--item">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's
                        De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                    <div style="text-align:right">
                        <button class="btn">
                    Phản hồi
                  </button>
                    </div>
                </div>
            </div>

            <div class="container--admin">
                <div>
                    <p class="p--1">Admin</p>
                    <p class="p--2">01/01/2001</p>
                </div>
                <div class="feedback--item">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's
                        De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                </div>
            </div>

        </div>

    </div>

</div>
