<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Feedback</h5>
            <button type="submit" class="btn">Feedback</button>
            <button type="submit" class="btn">Đã lưu</button>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="container-fluid btn-right">
                <button type="button" class="btn">Sắp xếp theo</button>
                <ul class="dropdown-menu" id="LTK">
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Ngày và giờ</span></li>
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Mới nhất</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row container-fluid">

        <!-- Hộp feedback -->
        <div class="" *ngFor="let f of feedbacks">
            <div class="container--user">
                <div>
                    <p class="p--1 mt-2">{{f.Name}}</p>
                    <p class="p--2">{{f.DateSend|date:"dd/MM/yyyy"}}</p>
                </div>
                <button class="btn">Lưu trữ</button>
                <div class="feedback--item">
                    <p class="feedback-content">{{f.Content}}</p>
                    <div style="text-align:right">
                        <button class="btn">
                    Phản hồi
                  </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>