.form-control {
    width: 220px;
    margin-right: 0rem;
    margin-left: auto;
    background-color: #B2CDE2;
    border-radius: 0.4rem;
    padding: 5px;
    height: 35px;
}
.feedback-content{
    margin: 1.5% ;
}
h5 {
    line-height: 40px;
}
.container{
    --bs-gutter-x: auto 0;
}

.container--user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    margin-right: 0;
}
.container--admin {
    margin-left: 10%;
    margin-top: 1rem;
}

.feedback--item {
    width: 100%;
    height: auto;
    background-color: #C4C4C4;
}

.btn-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

.btn {
    border: none;
    background-color: rgb(255, 255, 255, 0);
    font-weight: 450;
    font-size: 0.8rem;
}

.p--1 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1rem;
}

.p--2 {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
}
