<div class="container">
    <div class="row">

        <div class="col-6">
            <h5>Xét duyệt yêu cầu tạo lớp mới</h5>
            <div class="button-container">
                <button type="button" class="btn--0 btn--1">Delete</button>
                <button type="button" class="btn--0 btn--2">Confirm</button>
                <button type="button" class="btn--0 btn--3">Choose All</button>
            </div>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="button-container">
                <button type="button" class="btn"><span style="font-weight: 500">8 </span> &nbsp; Yêu cầu chờ được duyệt</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col"></th>
                    <th scope="col">UserID</th>
                    <th scope="col">Loại TK</th>
                    <th scope="col">Người yêu cầu</th>
                    <th scope="col">Ngày gửi</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    <td>ID</td>
                    <td >Gia su</td>
                    <td>Huong Ham Chi</td>
                    <td >01/01/2022</td>
                    <td >
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            View Detail</button>
                    </td>
                    <td>
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          <i class="bi bi-trash-fill"></i>
              </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
