<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Quản lý lớp học</h5>
            <div class="dropdown">
                <form>
                    <select name="status" id="status">
                      <option hidden >Trạng thái</option>
                      <option style="color:green ;" value="ongoing">Đang hoạt động</option>
                      <option style="color:red ;" value="end">Kết thúc</option>
                      <option style="color:blue ;" value="testing">Thử nghiệm</option>
                    </select>

                </form>

            </div>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>


    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">ClassID</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Status</th>
                    <th scope="col">View </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of classManages">
                    <td> <input type="checkbox" /></td>
                    <td>{{c.ClassInfo.ClassID}}</td>
                    <td>{{c.ClassInfo.Grade}}</td>
                    <td>{{c.ClassInfo.Subject}}</td>
                    <td>{{c.ClassInfo.Status}}</td>
                    <td>
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="{{isSelect(c) ? 'selected' : ''}} " (click)="onSelect(c)">
                View Detail
              </button>
                    </td>
                    <td>
                        <!-- button Xóa -->
                        <button type="button" class="btn_view--detail">
                      <i class="bi bi-trash-fill" (click)="delete(c._id)"></i>
          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>