<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Tài khoản User</h5>
            <form>
                <select name="status" id="status">
                  <option hidden (click)="sort('name')">Loại tài khoản</option>
                  <option value="account">Gia sư</option>
                  <option value="account">Học viên</option>
                </select>

            </form>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="name" name="ten" (ngModelChange)="Search()">
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th scope="col">UserID</th>
                    <th scope="col">Loại tài khoản</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Lượt truy cập</th>
                    <th scope="col">View </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of learners| orderBy: key: reverse">
                    <td class="text-center">{{l.TutorManage.UserID}}</td>
                    <td class="text-center">{{l.TutorManage.Role}}</td>
                    <td>{{l.TutorInfo.Name}}</td>
                    <td class="text-center">50 lần </td>
                    <td class="text-center">
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="{{isSelect(l) ? 'selected' : ''}} " (click)="onSelectTutor(l)">
                  View Detail
                </button>

                    </td>
                </tr>
                <tr *ngFor="let t of tutors|filter:name">
                    <td class="text-center">{{t.LearnerManage.UserID}}</td>
                    <td class="text-center">{{t.LearnerManage.Role}}</td>
                    <td>{{t.LearnerInfo.Name}}</td>
                    <td class="text-center">50 lần </td>
                    <td class="text-center">
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="{{isSelect(t) ? 'selected' : ''}} " (click)="onSelectLearner(t)">
                  View Detail
                </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
