.button-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    width: 40vw;
}
ul {
    list-style-type: none;
    margin-left: 0;
    line-height: 30px;
}
.form-control {
    max-width: 220px;
    background-color: #B2CDE2;
}

h5 {
    line-height: 50px;
}

.row{
    --bs-gutter-x: 0;
}

