<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Tài khoản User</h5>
            <div class="dropdown">
                <button class="dropdown-toggle btn_dropdown" type="button" data-bs-target="#LTK" data-bs-toggle="dropdown" aria-expanded="false">
    Loại tài khoản
  </button>
                <ul class="dropdown-menu" id="LTK">
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Gia sư</span></li>
                    <li class="dropdown-toggle"><span class="dropdown-item" href="#">Học viên</span></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">UserID</th>
                    <th scope="col">Loại tài khoản</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Lượt truy cập</th>
                    <th scope="col">View </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of learners">
                    <td>{{l.TutorManage.UserID}}</td>
                    <td>{{l.TutorManage.Role}}</td>
                    <td>{{l.TutorInfo.Name}}</td>
                    <td>50 lần </td>
                    <td>
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  View Detail
                </button>

                    </td>
                </tr>
                <tr *ngFor="let t of tutors">
                    <td>{{t.LearnerManage.UserID}}</td>
                    <td>{{t.LearnerManage.Role}}</td>
                    <td>{{t.LearnerInfo.Name}}</td>
                    <td>50 lần </td>
                    <td>
                        <button type="button" class="btn_view--detail" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  View Detail
                </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>