<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Chỉnh sửa bài viết</h5>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="text" name="name" placeholder="Search" aria-label="Search" [(ngModel)]="name" name="ten" (ngModelChange)="Search()">
            </form>
            <div class="container-fluid btn-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn_add" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus-circle-fill"></i> Thêm bài viết
      </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thêm blog mới</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body container-title">
                                <form #blogForm="ngForm" (ngSubmit)="submitData(blogForm)">
                                    <!-- Tên bài viết -->
                                    <div class="title">
                                        <input type="text" id="name" class="" placeholder="Nhập tên bài viết" [(ngModel)]="blog['name']" name="name">
                                        <input type="text" id="id" class="" placeholder="Nhập ID bài viết" [(ngModel)]="blog['id']" name="id">
                                        <input type="text" id="author" class="" placeholder="Nhập tên tác giả" [(ngModel)]="blog['author']" name="author">
                                    </div>

                                    <!-- Nội dung 1 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title1" class="" placeholder="Nhập tiêu đề 1" [(ngModel)]="blog['title1']" name="title1">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content1" type="text" class="" placeholder="Nhập nội dung 1" [(ngModel)]="blog['content1']" name="content1"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" class="form" [(ngModel)]="blog['thumbPath']" name="thumbPath" (change)="onChange($event)">
                                        </div>
                                    </div>

                                    <!-- Nội dung 2 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title2" class="" placeholder="Nhập tiêu đề 2" [(ngModel)]="blog['title2']" name="title2">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content2" type="text" class="" placeholder="Nhập nội dung 2" [(ngModel)]="blog['content2']" name="content2"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" [(ngModel)]="blog['thumbPath1']" name="thumbPath1" (change)="onChange($event)">
                                        </div>
                                    </div>

                                    <!-- Nội dung 3 -->
                                    <div class="title">
                                        <div>
                                            <input type="text" id="title3" class="" placeholder="Nhập tiêu đề 3" [(ngModel)]="blog['title3']" name="title3">
                                        </div>
                                        <div>
                                            <textarea cols="50" id="content3" type="text" class="" placeholder="Nhập nội dung 3" [(ngModel)]="blog['content3']" name="content3"></textarea>
                                        </div>
                                        <div>
                                            <input type="file" [(ngModel)]="blog['thumbPath2']" name="thumbPath2" (change)="onChange($event)">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container--blogs container-fluid text-center">
        <div class="row blog-box">
            <div class=" col-md-3 blog-content blogs--item" *ngFor="let p of blogs|filter:name " class="{{isSelect(p) ? 'selected' : ''}} " (click)="onSelect(p) ">
                <div style="height: 80%">
                    <p style=" min-height: 9vw;" class="text-center"><img class="img blog-img" src="http://localhost:3000/{{p.thumbPath}} "></p>
                    <div class="fw-bold title text-truncate">{{p.name}}</div>
                    <div id="author">{{p.author}}</div>
                    <div class="content-item">
                        {{p.content}}
                    </div>
                </div>
                <div style="text-align:right; height: 10%;">
                    <button class="btn "><i class="bi bi-hand-thumbs-up-fill "> </i></button>
                    <button class="btn "><i class="bi bi-hand-thumbs-down-fill "></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
