.form-control {
    width: 220px;
    margin-right: 0rem;
    margin-left: auto;
    background-color: #B2CDE2;
    border-radius: 0.4rem;
    padding: 5px;
    height: 35px;
}

h5 {
    line-height: 50px;
}

.container--blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blogs--item {
    /* background-color: #C4C4C4; */
    background-color: #cccccc;
    border-radius: 10px;
    margin: 0 2rem 3rem 2.5rem;
    height: 17rem;
}

#author {
    color: #8D7676;
    margin-top: 0px;
    font-weight: 500;
}

.content-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    height: 3rem;
}

.title {
    text-transform: lowercase;
}

.title:first-letter {
    text-transform: uppercase;
}

.img {
    padding: 0.4rem;
    width: 10rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

.btn_add {
    border: none;
    background-color: rgb(255, 255, 255, 0);
    font-weight: 500;
}

label,
input,
textarea {
    width: 100%;
    margin: 0.5rem 0rem;
    background-color: #B2CDE2;
    border: none;
}


/*
.container-title {
    background-color: #8D7676;
} */
