<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Chỉnh sửa bài viết</h5>
        </div>
        <div class="col-6">
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="container-fluid btn-right">


                <!-- Button trigger modal -->
                <button type="button" class="btn_add" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus-circle-fill"></i> Thêm bài viết
</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body container-title">
                                <!-- Tên bài viết -->
                                <div class="title">
                                    <input type="text" class="" placeholder="Nhập tên bài viết">
                                </div>

                                <!-- Nội dung 1 -->
                                <div class="title">
                                    <div>
                                        <input type="text" class="" placeholder="Nhập tiêu đề 1">
                                    </div>
                                    <div>
                                        <textarea cols="50" type="text" class="" placeholder="Nhập nội dung 1"></textarea>
                                    </div>
                                    <div>
                                        <input type="file" class="form">
                                    </div>
                                </div>

                                <!-- Nội dung 2 -->
                                <div class="title">
                                    <div>
                                        <input type="text" class="" placeholder="Nhập tiêu đề 2">
                                    </div>
                                    <div>
                                        <textarea cols="50" type="text" class="" placeholder="Nhập nội dung 2"></textarea>
                                    </div>
                                    <div>
                                        <input type="file">
                                    </div>
                                </div>

                                <!-- Nội dung 3 -->
                                <div class="title">
                                    <div>
                                        <input type="text" class="" placeholder="Nhập tiêu đề 3">
                                    </div>
                                    <div>
                                        <textarea cols="50" type="text" class="" placeholder="Nhập nội dung 3"></textarea>
                                    </div>
                                    <div>
                                        <input type="file">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="blog-right">
        <b style="font-weight: bold; margin-left:3rem; font-size: 1.4rem;">Tin tức</b>
        <div class="row mb-3 mt-3 item" *ngFor="let p of blogs" class="{{isSelect(p) ? 'selected' : ''}}" (click)="onSelect(p)">
            <div class="col-sm-4">
                <img class="img-responsive" src="http://localhost:3000/{{p.thumbPath}}">
            </div>
            <div class="col-sm-8 ml-1 p-3">
                <h5 class="fw-bold">{{p.name}}</h5>
                <p id="author">{{p.author}}</p>
                <div class="content-item ">
                    <p>{{p.content}}</p>
                    <h6>{{p.title1}}</h6>
                    <p>{{p.content1}}</p>
                    <h6>{{p.title2}}</h6>
                    <p>{{p.content2}}</p>
                    <h5>{{p.title3}}</h5>
                    <p>{{p.content3}}</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row container--blogs container-fluid">
        <div class="row" style="padding: 1rem 2rem">
            <div class=" col-md-3 blog-content blogs--item" *ngFor="let p of blogs " class="{{isSelect(p) ? 'selected' : ''}} " (click)="onSelect(p) ">
                <img class="img" src="http://localhost:3000/{{p.thumbPath}} ">
                <h6 class="fw-bold title">{{p.name}}</h6>
                <div id="author">{{p.author}}</div>
                <div class="content-item">
                    {{p.content}}
                </div>

                <div style="text-align:right; ">
                    <button class="btn "><i class="bi bi-hand-thumbs-up-fill "> </i></button>
                    <button class="btn "><i class="bi bi-hand-thumbs-down-fill "></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
