* {
    font-size: 1.3vw;
    margin-right: 0;
}

.header {
    height: 3rem;
    z-index: 2;
    background-color: #0077C0;
    color: white;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.row{
    --bs-gutter-x: 0;
}

.header_item {
    width: 300px;
    line-height: 50px;
}

.img-logo {
    height: 2.8rem;
    padding: 10px;
}

.search_header {
    background-color: rgb(0, 0, 0, 0);
    color: white;
    margin: 5px;
    height: 30px;
    border: none;
}

div.row.body-container{
    --bs-gutter-x: 0;
}

@media screen and (max-width: 850px) {
    *{
        font-size: 15px;
    }
}