<div class="row">
    <div class="header">
        <div class="header_item">
            <img class="img-logo" id="logo" src="#" alt="Logo" />
            <span>ATHENE</span>
        </div>
        <div class="header_item">
            <i class="bi bi-search"></i> <input class="search_header" type="search" placeholder="Search" />
        </div>
    </div>
</div>
<div class="row body-container" [ngStyle]="{'margin-top': '3rem'}">
    <div class="col-2" style="margin:0px; padding: 0px;">
        <app-home></app-home>
    </div>
    <div class="col-10 home container-fluid overflow-auto">
        <router-outlet></router-outlet>
    </div>
</div>
