<app-home></app-home>
<!-- <app-user-management></app-user-management>
<app-class-managerment></app-class-managerment> -->
<!-- <app-user-management></app-user-management> -->
<!-- <app-class-managerment></app-class-managerment> -->
<!-- <app-infor-tutor></app-infor-tutor> -->
<!-- <app-infor-learner></app-infor-learner> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-class-detail></app-class-detail> -->
<!-- <app-new-account></app-new-account> -->
<!-- <app-new-class></app-new-class> -->
<!-- <app-feedback></app-feedback> -->
<!-- <router-outlet></router-outlet> -->