<div class="container">
    <div class="row">
        <h5 style="text-align:center">THÔNG TIN HỌC VIÊN</h5>
        <div class="col-4">
            <div class="container-fluid">
                <img class="img-tutor" src="#">
            </div>

        </div>

        <div class="col-4">
            <div class="">
                <ul>
                    <li>UserID: <span class="fnm">1000</span></li>
                    <li>Họ và tên: <span class="fnm">Hứa Làm Chi</span></li>
                    <li>Ngày sinh: <span class="fnm">1000</span></li>
                    <li>Địa chỉ:<span class="fnm">1000</span></li>
                </ul>
                <ul>
                    <li>CCCD: <span class="fnm">1000</span></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="">
                <ul>
                    <br/>
                    <li>Giới tính <span class="fnm">Hứa Làm Chi</span></li>
                    <br/> <br/>

                </ul>
                <ul>
                    <li>Ngày cấp: <span class="fnm">Hứa Làm Chi</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-row--2">
            <h5 style="padding-left: 1rem">Gia sư cần tìm:</h5>
            <ul>
                <li>Nghề nghiệp: <span class="fnm">1000</span></li>
                <li>Môn học: <span class="fnm">1000</span></li>
                <li>Giới tính: <span class="fnm">Hứa Làm Chi</span></li>
                <li>Lớp dạy: <span class="fnm">1000</span></li>
                <li>Địa điểm dạy:<span class="fnm">1000</span></li>
            </ul>
            <ul>
                <li>Thời gian dạy:<span class="fnm">1000</span></li>
                <li>Mức lương đề xuất: <span class="fnm">1000</span></li>
                <li>Lịch dạy dự kiến: <span class="fnm">Hứa Làm Chi</span></li>
                <li>Mô tả thêm: <span class="fnm">1000</span></li>
            </ul>
        </div>
        <div class="col-6 col-row--2">
            <h5 style="padding-left: 1rem">Thông tin tài khoản:</h5>
            <ul>
                <li> Created At:<span class="fnm">1000</span></li>
                <li> Lượt truy cập tháng này: <span class="fnm">1000</span></li>
                <li> Số lớp đang học:<span class="fnm">Hứa Làm Chi</span></li>
                <li> ClassID: <span class="fnm">1000</span></li>
            </ul>

        </div>
    </div>
    <div class="row col-row--2">

        <h5 style="text-align:center">Lịch sử giao dịch</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TranID</th>
                    <th scope="col">Ngày</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">TK gửi</th>
                    <th scope="col">Nội dung GD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>190068686</td>
                    <td>12/12/2021</td>
                    <td>12.000.000</td>
                    <td>BIDV 1984214924129</td>
                    <td>Học phí tháng 5 lớp:91827421894</td>
                </tr>

            </tbody>
        </table>

        <button type="submit" class="btn-history">Lịch sử giao dịch</button>

    </div>
</div>
