.container {
    background-color: #E0EFFF;
    font-size: 1rem;
}

.img-tutor {
    padding: 1rem;
    width: 10rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    background-color: #004C7A;
    color: white;
    padding: 0.2rem;
}

ul {
    list-style-type: none;
    margin-left: 0;
    line-height: 30px;
    font-weight: 500;
}

.fnm {
    font-weight: 300;
}

.col-row--2 {
    padding-left: 0px;
    padding-right: 0px;
    border: 0.01rem solid;
}

.btn-class {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-weight: 500;
    width: 10rem;
    color: #1689F2;
    line-height: 3rem;
    text-decoration: underline;
}

.btn-history {
    margin-left: auto;
    margin-right: 0rem;
}
