<div class="container">
    <div class="row">
        <h5 style="text-align:center">THÔNG TIN LỚP HỌC</h5>
        <div class="col-6">
            <div class="">
                <ul>
                    <li>ClassID: <span class="fnm">1000</span></li>
                    <li>Môn học: <span class="fnm">Hứa Làm Chi</span></li>
                    <li>Lịch dạy: <span class="fnm">1000</span></li>
                    <li>Địa điểm dạy:<span class="fnm">1000</span></li>
                </ul>
                <ul>
                    <li>Created At: <span class="fnm">1000</span></li>
                    <li>Thời gian duy trì: <span class="fnm">1000</span></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <ul>
                    <li>Trạng thái: <span class="fnm">1000</span></li>
                    <li>Cấp học: <span class="fnm">1000</span></li>
                    <li>học phí: <span class="fnm">1000</span></li>
                </ul>

            </div>
        </div>
        <button type="submit" class="btn-class btn-history">Lịch sử giao dịch</button>
    </div>

    <div class="row">
        <div class="col-6 col-row--2">
            <h5 style="padding-left: 1rem">Học viên hướng đến:</h5>
            <ul>
                <li>UserID:<span class="fnm">1000</span></li>
                <li>Họ và tên: <span class="fnm">Hứa Làm Chi</span></li>
                <li>Giới tính: <span class="fnm">1000</span></li>
                <li>Ngày sinh:<span class="fnm">1000</span></li>
                <li>CCCD:<span class="fnm">1000</span></li>
                <li>Địa chỉ:<span class="fnm">1000</span></li>
            </ul>
            <button type="submit" class="btn-class btn-history">Xem chi tiết</button>

        </div>
        <div class="col-6 col-row--2">
            <h5 style="padding-left: 1rem">Học viên</h5>
            <ul>
                <li>UserID:<span class="fnm">1000</span></li>
                <li>Họ và tên: <span class="fnm">Hứa Làm Chi</span></li>
                <li>Giới tính: <span class="fnm">1000</span></li>
                <li>Ngày sinh:<span class="fnm">1000</span></li>
                <li>CCCD:<span class="fnm">1000</span></li>
                <li>Địa chỉ:<span class="fnm">1000</span></li>
            </ul>
            <button type="submit" class="btn-class btn-history">Xem chi tiết</button>

        </div>
    </div>
    <div class="row col-row--2">

        <h5 style="text-align:center">Lịch sử giao dịch</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">TranID</th>
                    <th scope="col">Ngày</th>
                    <th scope="col">Hình thức</th>
                    <th scope="col">Số tiền</th>
                    <th scope="col">TK thực hiện</th>
                    <th scope="col">Nội dung GD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>190068686</td>
                    <td>12/12/2021</td>
                    <td>Gửi tiền</td>
                    <td>12.000.000</td>
                    <td>BIDV 1984214924129</td>
                    <td>Học phí tháng 5 lớp:91827421894</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
