<div class="container" *ngFor="let c of classManages">
    <div [class.d-none]="c.id==selectedId?false:true">
        <div class="row">
            <h5 style="text-align:center">THÔNG TIN LỚP HỌC</h5>
            <div class="col-6">
                <div class="">
                    <ul>
                        <li>ClassID: <span class="fnm">{{c.ClassInfo.ClassID}}</span></li>
                        <li>Môn học: <span class="fnm">{{c.ClassInfo.Subject}}</span></li>
                        <li>Lịch dạy: <span class="fnm">{{c.ClassInfo.Routine}}</span></li>
                        <li>Địa điểm dạy:<span class="fnm">{{c.ClassInfo.Address}}</span></li>
                    </ul>
                    <ul>
                        <li>Created At: <span class="fnm">{{c.ClassInfo.CreatedAt}}</span></li>
                        <li>Thời gian duy trì: <span class="fnm">{{c.ClassInfo.RetentionTime}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="">
                    <ul>
                        <li>Trạng thái: <span class="fnm">{{c.ClassInfo.Status}}</span></li>
                        <li>Cấp học: <span class="fnm">{{c.ClassInfo.Grade}}</span></li>
                        <li>Học phí: <span class="fnm">{{c.ClassInfo.Fee}}</span></li>
                    </ul>

                </div>
            </div>
            <!-- <button type="submit" class="btn-class btn-history">Lịch sử giao dịch</button> -->
        </div>

        <div class="row">
            <div class="col-6 col-row--2">
                <h5 style="padding-left: 1rem">Gia sư:</h5>
                <ul>
                    <li>UserID: <span class="fnm">{{c.TutorInfo.UserID}}</span></li>
                    <li>Họ và tên: <span class="fnm">{{c.TutorInfo.Name}}</span></li>
                    <li>Giới tính: <span class="fnm">{{c.TutorInfo.Gender}}</span></li>
                    <li>Ngày sinh:<span class="fnm">{{c.TutorInfo.DOB}}</span></li>
                    <li>CCCD:<span class="fnm">{{c.TutorInfo.CCCD}}</span></li>
                    <li>Địa chỉ:<span class="fnm">{{c.TutorInfo.Direct}}</span></li>
                </ul>
                <button type="submit" class="btn-class btn-history" class="{{isSelect1(c.TutorInfo) ? 'selected' : ''}} " (click)="onSelectTutor(c.TutorInfo)">Xem chi tiết</button>

            </div>
            <div class="col-6 col-row--2">
                <h5 style="padding-left: 1rem">Học viên</h5>
                <ul>
                    <li>UserID: <span class="fnm">{{c.StudentInfo.UserID}}</span></li>
                    <li>Họ và tên: <span class="fnm">{{c.StudentInfo.Name}}</span></li>
                    <li>Giới tính: <span class="fnm">{{c.StudentInfo.Gender}}</span></li>
                    <li>Ngày sinh:<span class="fnm">{{c.StudentInfo.DOB}}</span></li>
                    <li>CCCD:<span class="fnm">{{c.StudentInfo.CCCD}}</span></li>
                    <li>Địa chỉ:<span class="fnm">{{c.StudentInfo.Direct}}</span></li>
                </ul>
                <button type="submit" class="btn-class btn-history" class="{{isSelect1(c.StudentInfo) ? 'selected' : ''}} " (click)="onSelectLearner(c.StudentInfo)">Xem chi tiết</button>

            </div>
        </div>

        <div class="row col-row--2">

            <h5 style="text-align:center">Lịch sử giao dịch</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TranID</th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Hình thức</th>
                        <th scope="col">Số tiền</th>
                        <th scope="col">TK thực hiện</th>
                        <th scope="col">Nội dung GD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{c.TransLearner.TransID}}</td>
                        <td>{{c.TransLearner.DateCreate|date:"dd/MM/yyyy"}}</td>
                        <td>{{c.TransLearner.Method}}</td>
                        <td>{{c.TransLearner.Fee}}</td>
                        <td>{{c.TransLearner.SendAcc}}</td>
                        <td>{{c.TransLearner.Content}} {{c.ClassInfo.ClassID}}</td>
                    </tr>
                    <tr>
                        <td>{{c.TransTutor.TransID}}</td>
                        <td>{{c.TransTutor.DateCreate|date:"dd/MM/yyyy"}}</td>
                        <td>{{c.TransTutor.Method}}</td>
                        <td>{{c.TransTutor.Fee}}</td>
                        <td>{{c.TransTutor.ReceivableAcc}}</td>
                        <td>{{c.TransTutor.Content}} {{c.ClassInfo.ClassID}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>