<div class="container">
    <div class="row">
        <div class="label-container">
            <label><p>137</p> <span class="label-1">Tài khoản gia sư mới</span></label>
            <label><p>1312</p> <span class="label-1">Tài khoản học viên mới</span></label>
            <label><p>195</p> <span class="label-1">Lớp hoạt động</span></label>
            <label><p>131231</p> <span class="label-1">Lượt truy cập</span></label>
        </div>
    </div>
    <div class="row">
        <div class="label-container">
            <label><p>15M</p> <span class="label-2">Lợi nhuận</span></label>
            <label><p>15M</p> <span class="label-2">Tiền gửi</span></label>
            <label><p>15M</p> <span class="label-2">Tiền nhận</span></label>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div id="drawChart"></div>
        <!-- <div id="myChart" style="max-width:700px; height:400px">        </div> -->
    </div>
    <div class="row">
        <div id="divDrawChart2"></div>
    </div>
    <div class="row">
        <div id="myChart"></div>
    </div>

</div>
