<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="header">
            <h4 class=""> Headerr</h4>
        </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-2 overflow-auto sidebar container-fluid">
            <div>
                <a routerLink="#" routerLinkActive="active">
                    <button class="btn btn-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#Dashboard" aria-expanded="false"> Dashboard
    </button>
                </a>
            </div>

            <div>
                <a routerLink="#" routerLinkActive="active">
                    <button class="btn btn-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#User" aria-expanded="false"> User
          </button>
                </a>
                <ul class="list-group collapse" id="User">
                    <li class="list-group-item">
                        <a routerLink="#" routerLinkActive="active"></a>
                        Dashboard
                    </li>
                    <li class="list-group-item">
                        <a routerLink="#" routerLinkActive="active"></a>
                        Dashboard
                    </li>
                </ul>
            </div>

            <div>
                <a routerLink="#" routerLinkActive="active">
                    <button class="btn btn-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#Update" aria-expanded="false"> Cập nhật nội dung
        </button>
                </a>
                <ul class="list-group collapse" id="Update">
                    <li class="list-group-item">
                        <a routerLink="#" routerLinkActive="active"></a>
                        Dashboard
                    </li>
                    <li class="list-group-item">
                        <a routerLink="#" routerLinkActive="active"></a>
                        Dashboard
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-10 overflow-auto home container-fluid ">


        </div>
    </div>


    <!-- Footer -->
    <div class="row ">
        <h4 class=" ">Day la Footer</h4>
    </div>
</div>
